[Desktop Entry]
Name=BigTube
Comment=Gerenciador de Downloads de Vídeos
Exec=bigtube
Icon=youtube-dl
Terminal=false
Type=Application
Categories=Utility;Video;Network;
Keywords=download;video;youtube;
