[Desktop Entry]
Type=Application
Name=BigTube
Comment=Profissional TubePlayer
Exec=/caminho/completo/para/poetry run init
Path=/caminho/completo/para/mediaharbor
Icon=bigtube
Terminal=false
Categories=Video;AudioVideo;
DBusActivatable=true
StartupNotify=true
