[Desktop Entry]
Type=Application
Name=BigTube
Comment=Profissional TubePlayer
Exec=bigtube
Icon=bigtube
Terminal=false
Categories=Video;AudioVideo;
DBusActivatable=true
StartupNotify=true
