.rounded {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.top-toast {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 24px;
    padding: 8px 24px;
    margin-top: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.top-toast.error {
    background-color: rgba(224, 27, 36, 0.8);
    /* Red */
    color: #fefefe;
}

.top-toast.success {
    background-color: rgba(37, 107, 75, 0.8);
    /* Green */
    color: #fefefe;
}

progressbar>trough>progress {
    background-color: rgba(53, 132, 228, 0.8);
    /* Default */
    border-radius: 99px;
    min-height: 8px;
}

progressbar.success>trough>progress {
    background-color: rgba(46, 194, 126, 0.8);
    /* Success */
    transition: background-color 0.3s ease;
}

progressbar.warning>trough>progress {
    background-color: rgba(229, 165, 10, 0.8);
    /* Warning */
    opacity: 0.8;
}

progressbar>trough {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 99px;
}
